.items li{
background-color: gainsboro;
padding: 2px 4px 2px 4px;
margin: 10px 0px 10px 0px;
border: 1px solid goldenrod;
border-radius: 9px;
width: 10vw;
list-style-type: none;
}

.items li span{
    background-color: gray;
    color: white;
    padding: 2px 4px 2px 4px;
    margin: 2px 4px 2px 4px;
}
.items li:hover{
    cursor: pointer;
    color: rgb(109, 105, 105);
}
.items .Selected{
    background-color: rgb(235, 160, 160);
}