a{
    padding: 2px;
    margin: 2px;
    border: 1px solid orange;
    border-radius: 10px;
    color: blue;
}
a:hover{
    color: black;
    background-color: cornsilk;
    cursor: pointer;
}
.active{
    background-color: wheat;
    color: #888;
  }
  .top{
      position: relative;
  }
  .siteDetails{
    position: absolute;
    top: 10px;
    left: 200px;
    border: 1px solid yellow;
    border-radius: 12px;
    height: 70vh;
    width: 40vw;
    padding: 4px;
  }