a{
    padding: 2px;
    margin: 2px;
    border: 1px solid orange;
    border-radius: 10px;
    color: blue;
}
a:hover{
    color: black;
    background-color: cornsilk;
    cursor: pointer;
}
.active{
    background-color: wheat;
    color: #888;
  }